/* #d0e1f9  */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif Pro", serif;
}
body {
  background-color: #47b5ff;
}

a {
  text-decoration: none;
}
header {
  font-size: 20px;
  font-weight: 500;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  background-color: #ffff;
}

.navbar {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
}
.navbar li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}
.navbar li a {
  transition: all 0.3s ease 0s;
  color: black;
}
.navbar li a:hover {
  color: #ffff;
}

/* sejarah */
.logo {
  width: 200px;
  height: 200px;
}
.content1 {
  margin: 20px auto;
  border-radius: 20px;
  padding: 5% 10%;
  background-color: #ffff;
  display: grid;
  width: 90%;
  grid-template-columns: 50% 60%;
}

#text1 {
  font-size: 20px;
  display: flex;
}

.content1 p {
  text-align: justify;
}
/* end */

/* jurusan */
.content3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 300px;
  flex-wrap: wrap;
}

.card {
  background-color: #f7f8f9;
  transition: 0.3s;
  width: 300px;
  height: 300px;
  padding: 32px;
  margin: 10px 5px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 70px;
  display: flex;
  place-items: center center;
}
.card p {
  font-size: 30px;
}
.content3 .card:hover {
  background-color: #1363df;
  color: #ffff;
}
.card a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.content3 .card p:hover {
  color: #ffff;
}
/* end */

/* matrikulasi */
.content2 {
  margin: 20px auto;
  border-radius: 20px;
  padding: 5% 10%;
  background-color: #ffff;
  display: grid;
  width: 90%;
}
#text2 {
  font-size: 20px;
  text-align: center;
}
.content2 p {
  text-align: justify;
}
/* end */

/* kantin */
.content4 {
  margin: 20px auto;
  border-radius: 20px;
  padding: 5% 10%;
  display: grid;
  width: 90%;
}
.text4 {
  font-size: 20px;
  text-align: center;
}
.text4 p {
  text-align: justify;
}
/* end */

/* footer */

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffff;
}

.footer-bagian {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.footer-bagian .foto-wikrama {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-bagian .foto-wikrama img {
  width: 50%;
  margin: auto;
}

.footer-bagian .list-halaman {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-bagian .list-halaman ul li {
  font-size: 20px;
  list-style: none;
}

.footer-bagian .list-halaman ul li a {
  text-decoration: none;
  color: var(--#ffff);
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-bagian .kontak {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-bagian .kontak .alamat h3 {
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  color: var(--#ffff);
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-bagian .kontak .telepon h3 {
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  color: var(--#ffff);
  margin-top: 10px;
  margin-bottom: 10px;
}
